*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: aliceblue;
}
header{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#slide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    background-color: rgb(59, 59, 148);
}
#img-slide{
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
#menu ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    font-size: 21px;
}
#login{
    display: flex;
    align-items: center;
}
#login a:hover{
    font-size: 17px;
}
#img-login{
    width: 20px;
    margin-right: 5px;
}
#sobre{
    height: 600px;
}
#texto-sobre{
    font-size: 20px;
    margin: 20px;
    margin-top: 50px;
    background-color: rgb(179, 179, 255);
    padding: 20px;
    border-radius: 10px;
}
#contato{
    width: 100%;
    background-color: rgb(185, 185, 255);
    height: 500px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
#contato input{
    width: 50%;
    padding: 3px;
    border: 2px solid blue;
    border-radius: 5px;
}
#contato input:active{
    border: 2px solid black;
}
button{
    padding: 3px;
    border: 2px solid blue;
    background-color: white;
    border-radius: 5px;
}
#produtos{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    margin-bottom: 20px;
}
#tres-cards{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;  
}
.card{
    width: 200px;
    min-height: 300px;
    margin: 5px;
    margin-top: 20px;
    background-color: rgb(201, 201, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 7px;
    text-align: center;
}
.img-card{
    width: 150px;
    border-radius: 10px;
}
.btn-card{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
    width: 40%;
    height: 25px;
}
.btn-card:hover{
    border: 3px solid blueviolet;
}
#quiz{
    background-color: rgb(174, 174, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 4rem;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.perguntas{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.perguntas span{

    font-size: 25px;
}
#respostas{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
#respostas button{
    width: 40px;
    border: 3px solid blue;
}
#respostas button:hover{
    border: 3px solid black;
}
#opcoes{
    font-size: 16px;
    text-decoration: none;
    gap: 3px;
    justify-content: center;
    display: flex;
}
footer{
    background-color: gray;
    color: white;
    text-align: center;
    width: 100%;
    height: 25px;
}